body{
  height: 100vh;
  background-color: #fff;
  padding: 0 15px;
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sm-visible{
  display:none;
}

@media screen and (max-width: 767px) {
  .lg-visible{
    display: none;
  }
}

@media screen and (max-width: 575px) {
  body{
    padding:0;
    display: block;
  }

  .sm-visible{
    display:block;
  }

}