
.resultSummaryBox{  
  max-width: 740px;
  width: 100%;
  min-height: 510px;
  margin:auto;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 15px 15px 40px rgba(49,44,234,0.1);
  display: flex;  
  overflow: hidden;  
}
.result,
.summary{
  width:50%;
  padding: 40px 20px;
}


.result{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background: linear-gradient(0deg, rgba(49,44,234,1) 0%, rgba(103,67,255,1) 100%);

}

.result p{
  font-size: 18px;
  text-align: center;
}


p.title{
  margin:0;
  font-size: 22px;
  font-weight: bold;
  color:hsl(224, 30%, 27%);
}

.score{
  width: 200px;
  height:200px;
  margin-top: 30px;
  border-radius: 50%;
  background: linear-gradient(0deg,hsla(241, 72%, 46%, 0) 0%, hsla(256, 72%, 46%, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.score p{
  margin: 0;
}

.score p:first-child{
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  
}

.score p:last-child{
 color: hsl(241, 100%, 89%);
  font-weight: 500;
}

p.scoreStatus{
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin: 20px 0;
}

.desc{
  margin: 0;
  color: hsl(241, 100%, 89%);

}

.summary div p{
  margin:0;
  display: flex;
  align-items: center;
}
.SummaryContent{
  max-width: 290px;
  margin:auto;
}

.summaryBox{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.summaryBox div{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin:10px 0;
  border-radius: 10px;
}


.summaryBox div:nth-child(1){  
  background: hsla(0, 100%, 67%, 0.1);  
}
.summaryBox div:nth-child(2){  
  background: hsla(39, 100%, 56%, 0.1);
}
.summaryBox div:nth-child(3){  
  background: hsla(166, 100%, 37%, 0.1);
}
.summaryBox div:nth-child(4){  
  background: hsla(234, 85%, 45%, 0.1);
}


.BtnContinue{
  font-size: 15px;
  font-weight: bold;
  background: hsl(224, 30%, 27%);
  color: white;
  width: 100%;
  padding: 15px 10px;
  border:none;
  border-radius: 30px;
  margin:20px 0;
  cursor: pointer;
 
}

.BtnContinue:hover{
  background: linear-gradient(0deg, rgba(49,44,234,1) 0%, rgba(103,67,255,1) 100%);
  transition: 0.3 ease-in-out;
}

/*Responsive*/

@media screen and (max-width: 575px) {
  .resultSummaryBox{
    flex-direction: column;
    border-radius: 0;
  }
  
  .result, .summary{
    padding: 30px 20px;
    width: auto;
  }

  .result{
    border-top-right-radius: 0;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }

  .score{
    width: 150px;
    height:150px;
  }
  .summaryBox{
    margin-top: 20px;
  }

  .SummaryContent{
    max-width: 100%;   
  }
}